    @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');
    body {
        font-family: 'kanit', sans-serif;
        /* min-height: 100vh; */
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: aliceblue;
    }
    
    header,
    main {
        font-size: 2rem;
        font-weight: 700;
        padding: 3.4rem;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        padding-bottom: 60px;
    }
    
    header {
        align-items: center;
    }
    
    h1 {
        font-weight: 900;
        font-size: 6rem;
        text-align: center;
    }
    
    main {
        text-align: center;
    }
    
    .destop img {
        padding: 50px;
        width: 100%;
    }
    
    .mobile img {
        display: none;
    }
    
    header.dark {
        background-color: #121213;
        color: orange;
    }
    
    main.dark {
        background-color: #121213;
        color: rgb(255, 255, 255);
    }
    
    main.dark p {
        color: orange;
    }
    
    @media only screen and (max-width: 900px) {
        h1 {
            font-weight: 900;
            font-size: 3rem;
            text-align: center;
        }
        main img {
            width: 100%;
        }
        main p {
            font-size: 24px;
        }
    }
    
    @media only screen and (max-width: 500px) {
        header,
        main {
            font-size: 2rem;
            font-weight: 700;
            padding: 3.4rem;
            padding-bottom: 100px;
        }
        h1 {
            padding: 20px;
            font-weight: 900;
            font-size: 2rem;
            text-align: center;
        }
        .mobile img {
            display: flex;
            width: 100%;
        }
        .destop img {
            display: none;
        }
    }